.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-text{
  color: #AA1423;
  font-family: 'Roboto-Slab';
}

.secondary-text{
  color: #777;
  font-family: 'Roboto-Slab';
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 55vmin;
}

.topFixed {
  position:fixed;
  top:10;
  width:100%;
  z-index:100;
}

.container {
  background-color: '#777',

}

.colum{
  padding-top: 5px;
}

#shortenerInput::placeholder{
  color:#FF6E15;
  font-weight: bold;
  font-family: 'Roboto';
}


#mainNav {
  padding-bottom: 10px;
  color:white;
  border-color: white;
  background: white;

}

#navDiv{
  width: 100%;
  justify-content: center;
}

#shortenerjumbo {
  border-color: white;
  height: 30%;
  padding-top: 300px;
  padding-bottom: 250px;
  background-image: url("./Assets/background-home.jpg");

}

#shortenform {
  padding-top: 30px;
  width: 100%;
  float: none;
  margin-left:auto;
  justify-content: center;

}

#shortenerInput{
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color: #FF6E15;
  border-bottom-style: solid;
  border-radius: 1px;


}

.customInput{
  width: 100%

}

.shortener-text{
  color: white;
  font-family: 'Roboto';
  font-size: 150%;
}

.linkurl{
  color: #AA1423;
  font-family: 'Roboto-Slab';
  font-weight: bold;
  font-size: 150%;
  padding-right: 20vmin;
}

.linkclicks{
  color: #777;
  font-family: 'Roboto-Slab';
  font-size: 120%;
  margin-left: auto;
}

#top5header {
  color: #AA1423;
  font-family: 'Roboto';
  font-weight: bold;
  padding-bottom: 15px;
}

#hitsviewer-box{
  background-color: white;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #777 inset;


}
